.styles{
    background-image: url('C:\Users\venkata.sujay\Desktop\telecom-analytics\telecom-analytics\public\dataimage.jpeg');
    background-size: cover;
    background-position: center;
    /* backface-visibility: hidden; */
    /* backface-visibility: visible; */

}